<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<h5> Number of products in database: <%= @count %> </h5>
<h5> Number of categories in database: <%= @catCount %> </h5>
